{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static '/images/Icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/inventory_style.css' %}">
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <title>Flux - {% block title %}{% endblock %}</title>
</head>
<body class="relative min-h-screen font-poppins antialiased text-sm bg-white flex text-gray-800 h-full 2xl:max-w-[1920px] 2xl:mx-auto 2xl:border-r-2"
    x-data="{ showMenu: false }">

    {% include 'inventory/partials/sidebar.html' %}

    <main class="bg-white min-h-screen lg:ml-60 flex w-full">
        <!-- Screen Overlay shows on small screen showMenu -->
        <div class="absolute lg:hidden left-0 top-0 h-full w-full bg-black/30 z-[15]" 
             @click="showMenu = false"
             x-show="showMenu" 
             x-transition.opacity.duration.500ms>
        </div>

        {% block filters %}{% endblock %}

        <!-- Main Content -->
        <section class="flex-1 py-6 px-4 md:px-4 lg:px-8">
            {% block header %}{% endblock %}
            
            {% block navigation %}{% endblock %}
            
            {% block content %}{% endblock %}
        </section>

        {% include 'inventory/partials/popups.html' %}
    </main>

    <script src="{% static 'js/inventory.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
