<!-- templates/trash_base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static '/images/Icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/inventory_style.css' %}">
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <title>Flux - Trash</title>
</head>

<body class="relative min-h-screen font-poppins antialiased text-sm bg-white flex text-gray-800 h-full 2xl:max-w-[1920px] 2xl:mx-auto 2xl:border-r-2"
    x-data="{ showMenu: false }">

    {% include "inventory/partials/sidebar.html" %}

    <main class="bg-white min-h-screen lg:ml-60 flex w-full">
        <!-- Screen Overlay shows on small screen showMenu -->
        <div class="absolute lg:hidden left-0 top-0 h-full w-full bg-black/30 z-[15]" @click="showMenu = false"
            x-show="showMenu" x-transition.opacity.duration.500ms>
        </div>

        <!-- Clients Main-->
        <section class="flex-1 py-6 px-4 md:px-4 lg:px-8">
            <!-- Header -->
            <div class="flex items-center justify-between">
                <div>
                    <div class="text-gray-700 flex items-center justify-between mb-3">
                        <span>PROJECT</span>
                    </div>
                    <div class="dropdown">
                        <div class="project-name-container">
                            <span class="project-name-text text-gray-900 text-xl font-semibold">{{ project.name }}</span>
                            <svg class="dropdown-arrow" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <rect width="8" height="8" fill="url(#pattern7)"/>
                                <defs>
                                    <pattern id="pattern7" patternContentUnits="objectBoundingBox" width="1" height="1">
                                        <use xlink:href="#image0_240_2" transform="scale(0.0625)"/>
                                    </pattern>
                                    <image id="image0_240_2" width="16" height="16" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAwgAAAMIBT4kc1wAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACASURBVDiN1dOxDcIwEEDRf2QtOqgYIx0gyIgRsyCxA00+zVEgMIodGiy5839XWBcqS85qUf0LIIAtsG7sLwA3wMZ77YA7sGuYLjCQvzBUTp6AXgX1iZxr4xcgkVNN/AYkcpwbfwQSOcyJi0Ai+wyLsUp824WI2ACTOhbf/P8yPQAoP83ZkoVsJgAAAABJRU5ErkJggg=="/>
                                </defs>
                            </svg>
                        </div>
                        <div class="dropdown-content">
                            {% for project in projects %}
                            <a href="{% url 'trash_'|add:item_type project_name=project.name %}">{{ project.name }}</a>
                            {% endfor %}   
                        </div>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    {% if user == project.project_manager or user in project.project_editors.all %}
                    <button id="addItemBtn" onclick="showDeleteAllPopup('{{ project.name }}')"
                        class="bg-primary hover:bg-primary/90 py-1.5 px-4 rounded flex items-center text-white space-x-1">
                        <svg style="margin-right: 10px;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <rect width="24" height="24" fill="url(#pattern6)"/>
                        </svg>
                        <span>Delete All</span>
                    </button>
                    {% endif %}
                    <!-- Menu button on small screen -->
                    <button class="lg:hidden bg-gray-50 p-2 text-gray-600 rounded hover:bg-gray-300 focus:text-primary outline-none focus:drop-shadow"
                        @click="showMenu = !showMenu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm7 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Navigation View -->
            <nav class="flex items-center mt-8 border-b space-x-10 text-gray-400 font-medium">
                {% block navigation %}{% endblock %}
            </nav>

            <div class="table-container">
                <div class="mt-8 text-gray-500">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>

        <!-- Common Popups -->
        <div class="popup-container1" id="restorePopup">
            <div class="popup-card">
                <h2>Restore Item</h2>
                <br>
                <p>Are you sure you want to restore this item?</p>
                <div class="buttons">
                    <button class="border border-gray-300 font-medium text-sm w-1/3 text-gray-500 tracking-wide py-2 rounded-md hover:border-gray-400" style="margin-right: 10px;" onclick="closeRestorePopup()">Cancel</button>
                    <button class="bg-primary border border-primary font-medium text-sm w-2/3 text-white tracking-wide py-2 rounded-md hover:bg-primary/90" onclick="restoreItem()">Confirm</button>
                </div>
            </div>
        </div>

        <div class="popup-container1" id="deletePopup">
            <div class="popup-card">
                <h2>Confirm Deletion</h2>
                <br>
                <p>Are you sure you want to delete this item?</p>
                <div class="buttons">
                    <button class="border border-gray-300 font-medium text-sm w-1/3 text-gray-500 tracking-wide py-2 rounded-md hover:border-gray-400" style="margin-right: 10px;" onclick="closeDeletePopup()">Cancel</button>
                    <button class="delete-bg-primary border delete-border-primary font-medium text-sm w-2/3 text-white tracking-wide py-2 rounded-md hover:delete-bg-primary/90" onclick="deleteItem()">Confirm</button>
                </div>
            </div>
        </div>

        <div class="popup-container1" id="deleteAllPopup">
            <div class="popup-card">
                <h2>Confirm Deletion</h2>
                <br>
                <p>Are you sure you want to delete all the items</p>
                <div class="buttons">
                    <button class="border border-gray-300 font-medium text-sm w-1/3 text-gray-500 tracking-wide py-2 rounded-md hover:border-gray-400" style="margin-right: 10px;" onclick="closeDeleteAllPopup()">Cancel</button>
                    <button class="delete-bg-primary border delete-border-primary font-medium text-sm w-2/3 text-white tracking-wide py-2 rounded-md hover:delete-bg-primary/90" onclick="deleteAllItems()">Confirm</button>
                </div>
            </div>
        </div>
    </main>

    <script>
        let currentItemId;
        let currentProject;
        let itemType = "{{ item_type }}";

        function showRestorePopup(projectName, id) {
            currentItemId = id;
            currentProject = projectName;
            document.getElementById('restorePopup').style.display = 'flex';
        }

        function closeRestorePopup() {
            document.getElementById('restorePopup').style.display = 'none';
        }

        function showDeletePopup(id) {
            currentItemId = id;
            document.getElementById('deletePopup').style.display = 'flex';
        }

        function closeDeletePopup() {
            document.getElementById('deletePopup').style.display = 'none';
        }

        function showDeleteAllPopup(projectName) {
            currentProject = projectName;
            document.getElementById('deleteAllPopup').style.display = 'flex';
        }

        function closeDeleteAllPopup() {
            document.getElementById('deleteAllPopup').style.display = 'none';
        }

        function restoreItem() {
            const id = currentItemId;
            const projectName = currentProject;

            fetch(`/trash/restore${capitalizeFirstLetter(itemType)}/${projectName}/${id}/`, {
                method: 'PUT',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    removeTableRow(id);
                }
                closeRestorePopup();
            })
            .catch(error => {
                console.error(`Error restoring ${itemType} with ID ${id}:`, error);
                closeRestorePopup();
            });
        }

        function deleteItem() {
            const id = currentItemId;

            fetch(`/trash/delete${capitalizeFirstLetter(itemType)}/${id}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    removeTableRow(id);
                }
                closeDeletePopup();
            })
            .catch(error => {
                console.error(`Error deleting ${itemType} with ID ${id}:`, error);
                closeDeletePopup();
            });
        }

        function deleteAllItems() {
            const projectName = currentProject;
            fetch(`/trash/deleteAll${capitalizeFirstLetter(itemType)}s/${projectName}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    removeAllRows();
                }
                closeDeleteAllPopup();
            })
            .catch(error => {
                console.error(`Error deleting ${itemType}s`, error);
                closeDeleteAllPopup();
            });
        }

        function removeTableRow(id) {
            const table = document.getElementById(`${itemType}sTable`);
            const row = table.querySelector(`tr[data-id="${id}"]`);
            if (row) row.remove();
        }

        function removeAllRows() {
            const table = document.getElementById(`${itemType}sTable`);
            const rows = table.querySelectorAll('tr');
            rows.forEach(row => {
                if (row.dataset.id !== 'header') row.remove();
            });
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>
</body>
</html>
