{% extends "inventory/trash_base.html" %}
{% block navigation %}
<a href="{% url 'trash_consumables' project_name=project.name %}"
    class="flex items-center space-x-1 pb-3 border-b-2 border-transparent hover:border-b-primary hover:text-gray-600">
    <span>Consumables</span>
</a>
<a href="{% url 'trash_reagents' project_name=project.name %}"
    class="flex items-center space-x-1 pb-3 border-b-2 border-transparent hover:border-b-primary hover:text-gray-600">
    <span>Reagents</span>
</a>
<a href="{% url 'trash_equipment_' project_name=project.name %}"
    class="flex items-center space-x-1 pb-3 border-b-2 border-transparent hover:border-b-primary hover:text-gray-600">
    <span>Equipment</span>
</a>
<a href="{% url 'trash_samples' project_name=project.name %}"
    class="flex items-center space-x-1 text-gray-600 border-b-2 border-b-primary pb-3">
    <span>Samples</span>
</a>
{% endblock %}

{% block content %}
{% if user == project.project_manager or user in project.project_editors.all %}
<table class="w-full table-auto">
    <thead class="uppercase tracking-wider border-b h-7 align-top text-xs font-semibold">
        <tr>
            <th class="min-w-fit w-3/5 md:w-1/2 lg:w-fit text-left">Name</th>
            <th class="text-left">Product Code</th>
            <th class="text-left">Quantity</th>
            <th class="text-left">Date Created</th>
            <th class="text-left">Expiry Date</th>
            <th class="text-left">Storage Location</th>
            <th class="text-left"></th>
        </tr>
    </thead>
    <tbody id="samplesTable">
        {% for trash_sample in trash_samples %}
        <tr class="h-16 border-b border-gray-100 hover:bg-primary/5" data-id="{{ trash_sample.id }}">
            <td class="font-semibold text-sm">{{ trash_sample.name }}</td>
            <td class="text-xs space-y-1.5">{{ trash_sample.product_code }}</td>
            <td class="text-xs space-y-1.5">{{ trash_sample.quantity }}</td>
            <td class="text-xs space-y-1.5">{{ trash_sample.date_recorded|date:"Y-m-d" }}</td>
            <td class="text-xs space-y-1.5">{{ trash_sample.expiry_date|date:"Y-m-d" }}</td>
            <td class="text-xs space-y-1.5">{{ trash_sample.storage_location }}</td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn">. . .</button>
                    <div class="dropdown-content">
                        <a href="" onclick="showRestorePopup('{{ project.name }}', '{{ trash_sample.id }}'); return false;">Restore</a>
                        <a href="" onclick="showDeletePopup('{{ trash_sample.id }}'); return false;">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Trash information is not available for you to view for this project.</p>
{% endif %}
{% endblock %}
